# 분석을 위한 DataFrame Pickle 생성 스크립트

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [46]:
file_path = r'C:\Users\USER\Desktop\paper\kospi_10yr.csv'
# df = pd.read_csv('./data/kospi_10yr.csv', encoding='cp949', thousands=',')
df = pd.read_csv('./data/KSE_20yr.csv', encoding='cp949', thousands=',')
df

,Symbol,A005930,A005930.1,A005930.2,A005930.3,A005930.4,A005930.5,A005930.6,A000660,A000660.1,...,A025890.4,A025890.5,A025890.6,A008500,A008500.1,A008500.2,A008500.3,A008500.4,A008500.5,A008500.6
0,Symbol Name,삼성전자,삼성전자,삼성전자,삼성전자,삼성전자,삼성전자,삼성전자,SK하이닉스,SK하이닉스,...,한국주강,한국주강,한국주강,일정실업,일정실업,일정실업,일정실업,일정실업,일정실업,일정실업
1,Kind,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,...,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC,SSC
2,Item,S41000030F,S41000040F,S41000050F,S41000060F,S410000700,S41000080F,S420002900,S41000030F,S41000040F,...,S410000700,S41000080F,S420002900,S41000030F,S41000040F,S41000050F,S41000060F,S410000700,S41000080F,S420002900
3,Item Name,시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),...,수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원)
4,Frequency,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,...,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY,DAILY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4781,2020-04-29,49900,50500,49600,50000,50000,15604533,330947565,83500,84800,...,1260,21163,19028,9800,9800,9760,9760,9760,264,20567
4782,2020-05-04,48900,49100,48500,48500,48500,26083749,331254493,82900,82900,...,1250,30562,18972,9700,9890,9660,9870,9870,942,20502
4783,2020-05-06,49000,49200,48500,49200,49200,18070225,331242428,82000,82500,...,1240,52146,18952,9680,9860,9680,9800,9800,1656,20466
4784,2020-05-07,49200,49300,48700,48800,48800,13884411,331354887,82400,83400,...,1290,23130,18922,9900,9900,9850,9890,9890,525,20421
4785,2020-05-08,49100,49350,48800,48800,48800,15319700,331483846,83000,85500,...,1290,21108,18894,9920,10100,9910,10100,10100,1764,20376

## 데이터 프레임 재구조화(Reshaping Data)

### 티커 - 주식 매칭 Series

In [63]:
ticker_series = df.iloc[0,:]
ticker_series

Symbol       Symbol Name
A005930             삼성전자
A005930.1           삼성전자
A005930.2           삼성전자
A005930.3           삼성전자
                ...
A008500.2           일정실업
A008500.3           일정실업
A008500.4           일정실업
A008500.5           일정실업
A008500.6           일정실업
Name: 0, Length: 5433, dtype: object

In [64]:
unique_ticker = ticker_series[1:].index.str.replace('\.[1-9]', '').unique()
ticker_series = ticker_series[unique_ticker]
ticker_series

A005930        삼성전자
A000660      SK하이닉스
A207940    삼성바이오로직스
A035420       NAVER
A068270        셀트리온
             ...
A005030        부산주공
A019490        하이트론
A109070         컨버즈
A025890        한국주강
A008500        일정실업
Name: 0, Length: 776, dtype: object

### 관심있는 행과 열만 선택

In [65]:
target_df = df.drop([0,1,2,4], axis=0)
target_df = target_df.reset_index(drop=True)
target_df

,Symbol,A005930,A005930.1,A005930.2,A005930.3,A005930.4,A005930.5,A005930.6,A000660,A000660.1,...,A025890.4,A025890.5,A025890.6,A008500,A008500.1,A008500.2,A008500.3,A008500.4,A008500.5,A008500.6
0,Item Name,시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),...,수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),시가(원),고가(원),저가(원),종가(원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원)
1,2001-01-02,"158,000","169,000","157,000","167,500","3,350","789,127","43,505,783","3,900","4,580",...,534,"1,530","2,261","17,200","17,900","16,000","16,500","16,500","1,320","15,021"
2,2001-01-03,"161,500","171,000","161,000","168,500","3,370","757,143","43,438,492","4,390","4,750",...,561,"2,080","2,262","16,000","16,500","15,700","16,200","16,200","5,980","15,039"
3,2001-01-04,"189,500","193,500","183,000","189,000","3,780","2,398,248","43,355,199","5,240","5,240",...,573,"4,220","2,265","17,000","17,000","16,100","16,200","16,200","2,770","15,053"
4,2001-01-05,"188,000","196,000","185,000","195,000","3,900","1,562,744","43,295,088","5,350","6,020",...,513,"3,130","2,266","16,200","16,200","15,600","16,200","16,200","2,040","15,070"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4777,2020-04-29,49900,50500,49600,50000,50000,15604533,330947565,83500,84800,...,1260,21163,19028,9800,9800,9760,9760,9760,264,20567
4778,2020-05-04,48900,49100,48500,48500,48500,26083749,331254493,82900,82900,...,1250,30562,18972,9700,9890,9660,9870,9870,942,20502
4779,2020-05-06,49000,49200,48500,49200,49200,18070225,331242428,82000,82500,...,1240,52146,18952,9680,9860,9680,9800,9800,1656,20466
4780,2020-05-07,49200,49300,48700,48800,48800,13884411,331354887,82400,83400,...,1290,23130,18922,9900,9900,9850,9890,9890,525,20421
4781,2020-05-08,49100,49350,48800,48800,48800,15319700,331483846,83000,85500,...,1290,21108,18894,9920,10100,9910,10100,10100,1764,20376

### Multi Index 재구조화

In [66]:
target_col = ['Item Name', '수정주가(원)', '시가총액 (52주 평균)(백만원)', '거래량(주)']
target_df = target_df.loc[:, target_df.iloc[0,:].isin(target_col)]
target_df

,Symbol,A005930.4,A005930.5,A005930.6,A000660.4,A000660.5,A000660.6,A207940.4,A207940.5,A207940.6,...,A019490.6,A109070.4,A109070.5,A109070.6,A025890.4,A025890.5,A025890.6,A008500.4,A008500.5,A008500.6
0,Item Name,수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),...,시가총액 (52주 평균)(백만원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원),수정주가(원),거래량(주),시가총액 (52주 평균)(백만원)
1,2001-01-02,"3,350","789,127","43,505,783","89,119","19,790,590","8,690,441",NaN,NaN,NaN,...,"135,494",NaN,NaN,NaN,534,"1,530","2,261","16,500","1,320","15,021"
2,2001-01-03,"3,370","757,143","43,438,492","89,511","29,071,000","8,663,881",NaN,NaN,NaN,...,"135,309",NaN,NaN,NaN,561,"2,080","2,262","16,200","5,980","15,039"
3,2001-01-04,"3,780","2,398,248","43,355,199","102,859","23,582,200","8,622,116",NaN,NaN,NaN,...,"134,910",NaN,NaN,NaN,573,"4,220","2,265","16,200","2,770","15,053"
4,2001-01-05,"3,900","1,562,744","43,295,088","118,170","29,973,110","8,587,311",NaN,NaN,NaN,...,"134,479",NaN,NaN,NaN,513,"3,130","2,266","16,200","2,040","15,070"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4777,2020-04-29,50000,15604533,330947565,83700,3750568,59542668,581000,157790,25173648,...,18739,4100,0,54717,1260,21163,19028,9760,264,20567
4778,2020-05-04,48500,26083749,331254493,81000,5280026,59555920,556000,302753,25255934,...,18670,4100,0,54709,1250,30562,18972,9870,942,20502
4779,2020-05-06,49200,18070225,331242428,82400,3351424,59557667,575000,204420,25307711,...,18652,4100,0,54547,1240,52146,18952,9800,1656,20466
4780,2020-05-07,48800,13884411,331354887,82400,2660512,59565036,567000,138941,25373072,...,18622,4100,0,54436,1290,23130,18922,9890,525,20421
4781,2020-05-08,48800,15319700,331483846,85000,5039635,59578888,588000,438329,25450756,...,18594,4100,0,54326,1290,21108,18894,10100,1764,20376

In [67]:
target_df.columns = target_df.columns.str.replace('\.[4,5,6]', '')
target_df.columns = pd.MultiIndex.from_arrays((target_df.iloc[0],target_df.columns), names=('Item', 'Symbol'))
target_df = target_df.drop([0], axis=0)
target_df.sort_index(axis=1, level=0, inplace=True)
target_df

Item     Item Name   거래량(주)                                                    \
Symbol      Symbol  A000020  A000040 A000050  A000060 A000070 A000080 A000100
1       2001-01-02   70,380   40,720   1,520   13,930  97,170  36,760  45,660
2       2001-01-03   92,690   15,690     580   28,860  72,880  27,190  26,650
3       2001-01-04   99,170  135,900   5,750   76,430  66,540  42,700  93,350
4       2001-01-05   84,400   81,960   2,470  264,400  50,360  24,300  64,290
5       2001-01-08  137,910  126,660   9,710  438,140  62,460  48,680  72,840
...            ...      ...      ...     ...      ...     ...     ...     ...
4777    2020-04-29  1007942   307276  113749   196759   18965  475846  320172
4778    2020-05-04   710210   806305   39856   147990   26553  633360  444634
4779    2020-05-06   771765   330953   71044   124811   15785  684259  228405
4780    2020-05-07   534871   387575  149494   103306   13007  561467  214670
4781    2020-05-08   996717  6229780   42717   127650   15979  685543  824620

Item                       ... 시가총액 (52주 평균)(백만원)                           \
Symbol    A000120 A000140  ...            A300720 A306200  A307950 A308170
1         310,230  16,390  ...                NaN     NaN      NaN     NaN
2          95,550  37,840  ...                NaN     NaN      NaN     NaN
3         465,530  82,120  ...                NaN     NaN      NaN     NaN
4       2,890,860  52,760  ...                NaN     NaN      NaN     NaN
5       1,508,050  20,700  ...                NaN     NaN      NaN     NaN
...           ...     ...  ...                ...     ...      ...     ...
4777        55060   24302  ...             413696  166189  1058142  229615
4778        86017   77911  ...             411026  165782  1050367  229956
4779       101053   49973  ...             410814  165569  1049579  230335
4780        51369   56032  ...             409844  165293  1046935  230698
4781        58485   76110  ...             408879  165042  1044023  231063

Item
Symbol  A316140 A317400 A322000 A336260 A336370 A344820
1           NaN     NaN     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN     NaN     NaN
5           NaN     NaN     NaN     NaN     NaN     NaN
...         ...     ...     ...     ...     ...     ...
4777    8107363  141844  216559  498447  792601  227089
4778    8080639  141676  216555  498238  795023  227424
4779    8071493  141526  216616  498039  797393  227884
4780    8056255  141417  216725  497894  799929  228268
4781    8041163  141383  216993  497825  802487  228573

[4781 rows x 2329 columns]

In [68]:
target_df[('Item Name', 'Symbol')] = target_df[('Item Name', 'Symbol')].astype('datetime64[ns]')
target_df = target_df.set_index(('Item Name', 'Symbol'))
target_df.index.rename('Date', inplace=True)
target_df

Item         거래량(주)                                                    \
Symbol      A000020  A000040 A000050  A000060 A000070 A000080 A000100
Date
2001-01-02   70,380   40,720   1,520   13,930  97,170  36,760  45,660
2001-01-03   92,690   15,690     580   28,860  72,880  27,190  26,650
2001-01-04   99,170  135,900   5,750   76,430  66,540  42,700  93,350
2001-01-05   84,400   81,960   2,470  264,400  50,360  24,300  64,290
2001-01-08  137,910  126,660   9,710  438,140  62,460  48,680  72,840
...             ...      ...     ...      ...     ...     ...     ...
2020-04-29  1007942   307276  113749   196759   18965  475846  320172
2020-05-04   710210   806305   39856   147990   26553  633360  444634
2020-05-06   771765   330953   71044   124811   15785  684259  228405
2020-05-07   534871   387575  149494   103306   13007  561467  214670
2020-05-08   996717  6229780   42717   127650   15979  685543  824620

Item                                    ... 시가총액 (52주 평균)(백만원)          \
Symbol        A000120 A000140  A000150  ...            A300720 A306200
Date                                    ...
2001-01-02    310,230  16,390   18,800  ...                NaN     NaN
2001-01-03     95,550  37,840   22,690  ...                NaN     NaN
2001-01-04    465,530  82,120   81,420  ...                NaN     NaN
2001-01-05  2,890,860  52,760   80,840  ...                NaN     NaN
2001-01-08  1,508,050  20,700  100,060  ...                NaN     NaN
...               ...     ...      ...  ...                ...     ...
2020-04-29      55060   24302   107610  ...             413696  166189
2020-05-04      86017   77911   125954  ...             411026  165782
2020-05-06     101053   49973    81031  ...             410814  165569
2020-05-07      51369   56032    60272  ...             409844  165293
2020-05-08      58485   76110   131053  ...             408879  165042

Item
Symbol      A307950 A308170  A316140 A317400 A322000 A336260 A336370 A344820
Date
2001-01-02      NaN     NaN      NaN     NaN     NaN     NaN     NaN     NaN
2001-01-03      NaN     NaN      NaN     NaN     NaN     NaN     NaN     NaN
2001-01-04      NaN     NaN      NaN     NaN     NaN     NaN     NaN     NaN
2001-01-05      NaN     NaN      NaN     NaN     NaN     NaN     NaN     NaN
2001-01-08      NaN     NaN      NaN     NaN     NaN     NaN     NaN     NaN
...             ...     ...      ...     ...     ...     ...     ...     ...
2020-04-29  1058142  229615  8107363  141844  216559  498447  792601  227089
2020-05-04  1050367  229956  8080639  141676  216555  498238  795023  227424
2020-05-06  1049579  230335  8071493  141526  216616  498039  797393  227884
2020-05-07  1046935  230698  8056255  141417  216725  497894  799929  228268
2020-05-08  1044023  231063  8041163  141383  216993  497825  802487  228573

[4781 rows x 2328 columns]

### 정재된 데이터프레임 분석

In [69]:
# Thousands Point 제거
for col in target_df.columns:
    target_df[col] = target_df[col].astype('str').str.replace(",","").astype(float)  # 바로 .str하면 Nan 포함된 열에서 에러 발생
target_df

Item           거래량(주)                                                    \
Symbol        A000020    A000040   A000050   A000060  A000070   A000080
Date
2001-01-02    70380.0    40720.0    1520.0   13930.0  97170.0   36760.0
2001-01-03    92690.0    15690.0     580.0   28860.0  72880.0   27190.0
2001-01-04    99170.0   135900.0    5750.0   76430.0  66540.0   42700.0
2001-01-05    84400.0    81960.0    2470.0  264400.0  50360.0   24300.0
2001-01-08   137910.0   126660.0    9710.0  438140.0  62460.0   48680.0
...               ...        ...       ...       ...      ...       ...
2020-04-29  1007942.0   307276.0  113749.0  196759.0  18965.0  475846.0
2020-05-04   710210.0   806305.0   39856.0  147990.0  26553.0  633360.0
2020-05-06   771765.0   330953.0   71044.0  124811.0  15785.0  684259.0
2020-05-07   534871.0   387575.0  149494.0  103306.0  13007.0  561467.0
2020-05-08   996717.0  6229780.0   42717.0  127650.0  15979.0  685543.0

Item                                                ... 시가총액 (52주 평균)(백만원)  \
Symbol       A000100    A000120  A000140   A000150  ...            A300720
Date                                                ...
2001-01-02   45660.0   310230.0  16390.0   18800.0  ...                NaN
2001-01-03   26650.0    95550.0  37840.0   22690.0  ...                NaN
2001-01-04   93350.0   465530.0  82120.0   81420.0  ...                NaN
2001-01-05   64290.0  2890860.0  52760.0   80840.0  ...                NaN
2001-01-08   72840.0  1508050.0  20700.0  100060.0  ...                NaN
...              ...        ...      ...       ...  ...                ...
2020-04-29  320172.0    55060.0  24302.0  107610.0  ...           413696.0
2020-05-04  444634.0    86017.0  77911.0  125954.0  ...           411026.0
2020-05-06  228405.0   101053.0  49973.0   81031.0  ...           410814.0
2020-05-07  214670.0    51369.0  56032.0   60272.0  ...           409844.0
2020-05-08  824620.0    58485.0  76110.0  131053.0  ...           408879.0

Item                                                                      \
Symbol       A306200    A307950   A308170    A316140   A317400   A322000
Date
2001-01-02       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-03       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-04       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-05       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-08       NaN        NaN       NaN        NaN       NaN       NaN
...              ...        ...       ...        ...       ...       ...
2020-04-29  166189.0  1058142.0  229615.0  8107363.0  141844.0  216559.0
2020-05-04  165782.0  1050367.0  229956.0  8080639.0  141676.0  216555.0
2020-05-06  165569.0  1049579.0  230335.0  8071493.0  141526.0  216616.0
2020-05-07  165293.0  1046935.0  230698.0  8056255.0  141417.0  216725.0
2020-05-08  165042.0  1044023.0  231063.0  8041163.0  141383.0  216993.0

Item
Symbol       A336260   A336370   A344820
Date
2001-01-02       NaN       NaN       NaN
2001-01-03       NaN       NaN       NaN
2001-01-04       NaN       NaN       NaN
2001-01-05       NaN       NaN       NaN
2001-01-08       NaN       NaN       NaN
...              ...       ...       ...
2020-04-29  498447.0  792601.0  227089.0
2020-05-04  498238.0  795023.0  227424.0
2020-05-06  498039.0  797393.0  227884.0
2020-05-07  497894.0  799929.0  228268.0
2020-05-08  497825.0  802487.0  228573.0

[4781 rows x 2328 columns]

In [70]:
target_df.shape

(4781, 2328)

In [71]:
target_df.dtypes.value_counts()

float64    2328
dtype: int64

In [72]:
target_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4781 entries, 2001-01-02 to 2020-05-08
Columns: 2328 entries, (거래량(주), A000020) to (시가총액 (52주 평균)(백만원), A344820)
dtypes: float64(2328)
memory usage: 85.0 MB

In [73]:
target_df.describe().iloc[:, :5]

Item          거래량(주)
Symbol       A000020       A000040       A000050       A000060        A000070
count   4.781000e+03  4.781000e+03  4.781000e+03  4.781000e+03    4781.000000
mean    1.242394e+05  1.979311e+06  9.295330e+03  4.132241e+05   27353.375654
std     3.092551e+05  4.307722e+06  5.392666e+04  6.977342e+05   28771.900788
min     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00       0.000000
25%     3.200200e+04  2.613790e+05  5.800000e+02  9.087000e+04   10734.000000
50%     6.463400e+04  6.316650e+05  1.642000e+03  2.007540e+05   19107.000000
75%     1.315200e+05  1.751311e+06  4.647000e+03  4.597880e+05   33430.000000
max     1.237773e+07  6.992889e+07  2.210229e+06  1.161842e+07  523408.000000

#### NaN 분석

In [74]:
target_df.isnull().sum(axis=1)

Date
2001-01-02    852
2001-01-03    852
2001-01-04    852
2001-01-05    852
2001-01-08    852
             ...
2020-04-29      0
2020-05-04      0
2020-05-06      0
2020-05-07      0
2020-05-08      0
Length: 4781, dtype: int64

In [75]:
target_df.loc[target_df.isnull().sum(axis=1) == 0,:].index

DatetimeIndex(['2020-01-21', '2020-01-22', '2020-01-23', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03',
               '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14', '2020-02-17', '2020-02-18', '2020-02-19',
               '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25',
               '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02',
               '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06',
               '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12',
               '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18',
               '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24',
               '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30',
               '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03',
               '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
               '2020-04-10', '2020-04-13', '2020-04-14', '2020-04-16',
               '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22',
               '2020-04-23', '2020-04-24', '2020-04-27', '2020-04-28',
               '2020-04-29', '2020-05-04', '2020-05-06', '2020-05-07',
               '2020-05-08'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [76]:
target_df.loc[target_df.isnull().sum(axis=1) < 30,:].index

DatetimeIndex(['2019-02-13', '2019-02-14', '2019-02-15', '2019-02-18',
               '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22',
               '2019-02-25', '2019-02-26',
               ...
               '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-27',
               '2020-04-28', '2020-04-29', '2020-05-04', '2020-05-06',
               '2020-05-07', '2020-05-08'],
              dtype='datetime64[ns]', name='Date', length=305, freq=None)

In [77]:
d = datetime.datetime(2017, 1, 1)
target_df.loc[target_df.index > d, :].isnull().sum(axis=1)

Date
2017-01-02    135
2017-01-03    135
2017-01-04    135
2017-01-05    135
2017-01-06    135
             ...
2020-04-29      0
2020-05-04      0
2020-05-06      0
2020-05-07      0
2020-05-08      0
Length: 819, dtype: int64

## Pickle 생성

In [78]:
d = datetime.datetime(2018, 1, 1)
# final_df = target_df.loc[target_df.index > d, :]
final_df = target_df
final_df

Item           거래량(주)                                                    \
Symbol        A000020    A000040   A000050   A000060  A000070   A000080
Date
2001-01-02    70380.0    40720.0    1520.0   13930.0  97170.0   36760.0
2001-01-03    92690.0    15690.0     580.0   28860.0  72880.0   27190.0
2001-01-04    99170.0   135900.0    5750.0   76430.0  66540.0   42700.0
2001-01-05    84400.0    81960.0    2470.0  264400.0  50360.0   24300.0
2001-01-08   137910.0   126660.0    9710.0  438140.0  62460.0   48680.0
...               ...        ...       ...       ...      ...       ...
2020-04-29  1007942.0   307276.0  113749.0  196759.0  18965.0  475846.0
2020-05-04   710210.0   806305.0   39856.0  147990.0  26553.0  633360.0
2020-05-06   771765.0   330953.0   71044.0  124811.0  15785.0  684259.0
2020-05-07   534871.0   387575.0  149494.0  103306.0  13007.0  561467.0
2020-05-08   996717.0  6229780.0   42717.0  127650.0  15979.0  685543.0

Item                                                ... 시가총액 (52주 평균)(백만원)  \
Symbol       A000100    A000120  A000140   A000150  ...            A300720
Date                                                ...
2001-01-02   45660.0   310230.0  16390.0   18800.0  ...                NaN
2001-01-03   26650.0    95550.0  37840.0   22690.0  ...                NaN
2001-01-04   93350.0   465530.0  82120.0   81420.0  ...                NaN
2001-01-05   64290.0  2890860.0  52760.0   80840.0  ...                NaN
2001-01-08   72840.0  1508050.0  20700.0  100060.0  ...                NaN
...              ...        ...      ...       ...  ...                ...
2020-04-29  320172.0    55060.0  24302.0  107610.0  ...           413696.0
2020-05-04  444634.0    86017.0  77911.0  125954.0  ...           411026.0
2020-05-06  228405.0   101053.0  49973.0   81031.0  ...           410814.0
2020-05-07  214670.0    51369.0  56032.0   60272.0  ...           409844.0
2020-05-08  824620.0    58485.0  76110.0  131053.0  ...           408879.0

Item                                                                      \
Symbol       A306200    A307950   A308170    A316140   A317400   A322000
Date
2001-01-02       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-03       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-04       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-05       NaN        NaN       NaN        NaN       NaN       NaN
2001-01-08       NaN        NaN       NaN        NaN       NaN       NaN
...              ...        ...       ...        ...       ...       ...
2020-04-29  166189.0  1058142.0  229615.0  8107363.0  141844.0  216559.0
2020-05-04  165782.0  1050367.0  229956.0  8080639.0  141676.0  216555.0
2020-05-06  165569.0  1049579.0  230335.0  8071493.0  141526.0  216616.0
2020-05-07  165293.0  1046935.0  230698.0  8056255.0  141417.0  216725.0
2020-05-08  165042.0  1044023.0  231063.0  8041163.0  141383.0  216993.0

Item
Symbol       A336260   A336370   A344820
Date
2001-01-02       NaN       NaN       NaN
2001-01-03       NaN       NaN       NaN
2001-01-04       NaN       NaN       NaN
2001-01-05       NaN       NaN       NaN
2001-01-08       NaN       NaN       NaN
...              ...       ...       ...
2020-04-29  498447.0  792601.0  227089.0
2020-05-04  498238.0  795023.0  227424.0
2020-05-06  498039.0  797393.0  227884.0
2020-05-07  497894.0  799929.0  228268.0
2020-05-08  497825.0  802487.0  228573.0

[4781 rows x 2328 columns]

In [79]:
final_df.to_pickle("./pickle/kse_01_20_volume.pkl")

In [380]:
ticker_series.to_pickle("./kse_18_20_ticker.pkl")